/* Minigame Screen */
.minigame-screen {
    background-color: #121212;
    color: #33FF00;
    padding: 20px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    border: 2px solid #33FF00;
    border-radius: 10px;
    display: none; /* Inicialmente escondido */
}

.minigame-screen input {
    background-color: #1a1a1a;
    color: #33FF00;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #33FF00;
    border-radius: 5px;
    width: 70%;
    margin: 10px 0;
}

.minigame-screen button {
    background-color: #33FF00;
    color: black;
    padding: 10px 20px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.minigame-screen button:hover {
    background-color: #2ca02c;
}

#backToTerminal {
    margin-top: 20px;
}
