/* Estilos Gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #fff;
    line-height: 1.6;
}

/* Cabeçalho */
header {
    background-color: #1e1e1e;
    padding: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

header .logo {
    height: 40px;
}

header h1 {
    color: #f39c12;
    font-size: 2.5rem;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #f39c12;
}

/* Seções */
.section {
    padding: 50px 0;
    margin: 0 20px;
}

.section h2 {
    font-size: 2.5rem;
    color: #f39c12;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding-left: 20px;
}

ul li {
    margin: 10px 0;
}

ul li a {
    color: #f39c12;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}

/* Mapa */
#map {
    width: 100%;
    height: 400px;
}

/* Animações */
[data-aos="fade-up"] {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.5s ease-out;
}

[data-aos="fade-up"].aos-animate {
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 768px) {
    header .container {
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
    }

    .section h2 {
        font-size: 1.8rem;
    }
}

/* Rodapé */
footer {
    background-color: #1e1e1e;
    text-align: center;
    padding: 20px;
}

footer p {
    color: #aaa;
    font-size: 1rem;
}
